* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.App h1 {
	color: orange
}
a{
	color: rgb(237, 225, 194);
}
body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	background-color: rgb(32, 32, 32);
}

.App {
	width: 50vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form__container {
	width: 100%;
	color: white;
	height: 14%;
}

.form {
	display: flex;
	justify-content: space-between;
	border: 2px solid orange;
	border-radius: 15px;
	overflow: hidden;
	height: 100%;
}

.form__input--wrapper {
	flex-basis: 80%;
	height: 100%;
	
}
.form__input--wrapper label {
	margin-left: 15px;
	border-bottom: 1px solid white;
}
.form__input--name {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.form__input--title {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.form__textbox {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 65%;
}
.form-inputs:focus {
	outline: none;
}
#name{
	flex-basis: 70%;
	background-color: rgb(69, 69, 69);
	color: white;
	border:1px solid orange
}
#name-2{
	flex-basis: 70%;
	background-color: rgb(69, 69, 69);
	color: white;
	border:1px solid orange
}
#story {
	flex-basis: 70%;
	resize: none;
	background-color: rgb(69, 69, 69);
	color: white;
	border:1px solid orange
}
.form__submit {
	flex-basis: 22%;
}

.form__submit input {
	height: 100%;
	width: 100%;
	font-size: 1.2rem;
	font-weight: bold;
	background-color: rgb(19, 19, 19);
	color: white;
	border: none;
	text-align: center;
}

.form__submit input:hover {
	cursor: pointer;
}

.discussion__wrapper {
	width: 100%;
}

.discussion__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 2px solid orange;
	margin: 15px 0px;
	padding: 0px 6px;
	border-radius: 20px;
}

.discussion__avatar--image {
	width: 64px;
	overflow: hidden;
	border-radius: 20px;
}

.discussion__content {
	flex-basis: 80%;
	display: flex;
	flex-direction: column;
}

.discussion__content h2 {
	color: rgb(237, 225, 194);
}

.discussion__information {
	align-self: flex-end;
	color: rgb(188, 188, 188)
}

.discussion__answered p {
	font-size: 1.5rem;
	color: white;
	margin-right: 2px;
}

.pageUl {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
	border-radius: 50px;
	border: 1px solid rgb(253, 253, 253);
}

.pageUl li {
	list-style: none;
	line-height: 30px;
	text-align: center;
	font-size: 1.2rem;
	font-weight: 500;
	cursor: pointer;
	padding-top: 2px;
}


.pageUl li.numb {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	color: aliceblue;
} 

.active {
	background-color: orange;
	color: black
}

.pageUl li.btn {
	background-color: orange;
	padding-right: 15px;
	padding-left: 15px;
	color: aliceblue;
}

.prev {
	border-radius: 25px 5px 5px 25px;
}
.next {
	border-radius: 5px 25px 25px 5px;
}